<!-- <h1>angular-modal-gallery official stackblitz.com example with Angular {{name}}</h1>
    <h2>Github page: <a href="https://github.com/Ks89/angular-modal-gallery">https://github.com/Ks89/angular-modal-gallery</a></h2>
    <hr>
    <p>If you want, you can <b>add a random image</b> to every example
      <button (click)="addRandomImage()"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add image</button>
    </p>
    <br>
    <hr> -->
  
    <!-- <section>
       <ks-modal-gallery [modalImages]="images"
                        [plainGalleryConfig]="plainGalleryGrid"></ks-modal-gallery>
    </section> -->

    <section>
      <h3>A1tris - Minimal demo - all defaults with images of different sizes</h3>
      <br>
      <ks-modal-gallery [modalImages]="imagesMixedSizes" [plainGalleryConfig]="plainGalleryGrid"></ks-modal-gallery>
    </section>
   